<footer class="bg-dark mt-auto pt-4 container-fluid" style="background-color: #24281B;">

    <div class="row align-items-center border-bottom border-white pb-4 mb-2">

        <div class="col-md-8 mt-2">

            <h4><a href="{{ '/' | relative_url }}" class="text-white font-weight-normal">{{ site.title }}</a></h4>
            <p class="text-white"><small>{{ site.description }}</small></p>
        </div>

        <div class="col-md-4 mt-2 text-right">
            <p class="text-white" id="footer-credits">
                <small><em>built with</em>
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder logo" >
                    </a>
                </small>
            </p>
        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <p class="text-white">Last updated {{ site.time | date: '%Y' }}</p>
    </div>

</footer>
