<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#homemodal">
  Learn More
</button>

<div class="modal fade" id="homemodal" tabindex="-1" role="dialog" aria-labelledby="abouttheexhibit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="abouttheexhibit">What would you like to learn more about?</h5>
        <button type="button" class="close btn-dark" style="background-color: #427C85" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-auto">
        {% include feature/button.html text="Learn About Mya" link="https://instructional-design.mxballin.com/about.html" color="secondary" %} <br>
         {% include feature/button.html text="Learn About OSU's ID Certificate <br> (This will take you to an external site!)" link="https://education.oregonstate.edu/instructional-design-graduate-certificate" color="secondary" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-dark" style="background-color: #427C85" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
