<button type="button" class="btn-dark" style="font-color:#FFFFFF; background-color: #427C85;" data-toggle="modal" data-target="#homemodal">
  More About This Site
</button>

<div class="modal fade" id="homemodal" tabindex="-1" role="dialog" aria-labelledby="abouttheexhibit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="abouttheexhibit">More about this Site</h5>
        <button type="button" class="close btn-dark" style="font-color:#FFFFFF; background-color: #427C85" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" style="background-color: #f7fcfd;" href="https://instructional-design.mxballin.com/about.html" role="button">
 Click Here to Learn More about this Project Site
</button>
        {% include feature/button.html text="Learn About Mya" link="https://instructional-design.mxballin.com/about.html" color="light" %}
        <button type="button" style="background-color: #f7fcfd;" href="https://education.oregonstate.edu/instructional-design-graduate-certificate" role="button">
 Click Here to Learn More about OSU's Instructional Design Certificate
</button>
       Blah blah
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-dark" style="font-color:#FFFFFF; background-color: #427C85" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
