---
layout: page
---
{%- assign items = site.data[site.metadata] -%}

<div class="container">
  <div class="row">
    <div class="col-md-8 my-auto">
      <h2> Introduction </h2>
      <hr>
      <p>
     <h4>How might you use a digital portfolio? What purpose do you want it to serve?</h4>
      A digital portfolio is something that can be shared along with a resume and cover letter as a way of demonstrating competencies related to a particular concept or task.
      It offers a space where you can show projects that you have worked on rather than just describing them verbally.
      I would like my portfolio to serve as a space where I can document my journey through the ID certificate and to act as a tool I can use in the future to complement my CV.
      </p>
      <p>
      <h4>What audience do you have in mind for your portfolio?</h4>
      Future employers.
      
    </p>
      <p>
      <h4>What elements/content, might you want to include in your portfolio? If you already have a portfolio, what have you been inspired to add or change about yours after viewing the sample portfolios? </h4>
      
  </p>
<p>
      <h4>What preliminary design ideas do you have in mind for your portfolio? Your ideas could include typography, color, images, or layout.</h4>
</p>
    <div class="col-md-4 my-auto">
    </div>
  </div>
</div>
