---
layout: page
---
{%- assign items = site.data[site.metadata] -%}

<div class="container">
  <div class="row">
    <div class="col-md-10 my-auto">
      <h2> Introduction </h2>
      <hr>
      <p class="py-2" style="width=80ch;">
      <h4>Question 1:</h4> <h5>How might you use a digital portfolio? What purpose do you want it to serve?</h5>
      A digital portfolio is something that can be shared along with a resume and cover letter as a way of demonstrating competencies related to a particular concept or task.
      It offers a space where you can show projects that you have worked on rather than just describing them verbally.
      I would like my portfolio to serve as a space where I can document my journey through the ID certificate and to act as a tool I can use in the future to complement my CV.
      </p>
      <p class="py-2">
    <h4>Question 2:</h4> <h5>What audience do you have in mind for your portfolio?</h5>
      My primary audience would be future employers, but I would also be interested in being able to use this as a reflective document to see how my design style changes over time!
    </p>
      <p class="py-2">
  <h4>Question 3:</h4> <h5>What elements/content, might you want to include in your portfolio? If you already have a portfolio, what have you been inspired to add or change about yours after viewing the sample portfolios? </h5>
      
      In the past, I have used websites/portfolios to document technical processes and I find that very useful for being able to refer to later on. Given this class's focus on accessibility, it might be interesting to include documentation of how I achieve certain looks/elements that promote accessibility so that I can use them in future situations.
  </p>
<p class="py-2">
<h4>Question 4:</h4> <h5>What preliminary design ideas do you have in mind for your portfolio? Your ideas could include typography, color, images, or layout.</h5>
I would definitely be interested in playing around with layout, as I typically rely on a standard html sheet or copy from previous designs. Incorporating carousels and other image sharing features might be interesting, but I would want to learn more about how to make them as friendly to screen readers as possible. I have some familiarity with ARIA tags, but not extensive knowledge of how to incorporate them.
</p>
<hr>
<h4> Changes Made in Week 7</h4>
1. Maximum paragraph width was adjusted to 80 characters.<br>
2. Line spacing was increased across the site from 1.4 to 2x.<br>
3. Increased spaces to create more effective chunks.
    </div>
  </div>
</div>
