---
layout: page
---
{%- assign items = site.data[site.metadata] -%}

<div class="container">
  <div class="row">
    <div class="col-md-8 my-auto">
      <h2> Welcome </h2>
      <hr>
<div class="alert alert-info" role="alert">
  Looking for more context on the purpose of this portfolio? <br> Check out my answers to some introductory questions on my <a href="https://instructional-design.mxballin.com/week7.html" class="alert-link">portfolio goals page</a>
</div>
  </div>
<div class="col-md-4 my-0">
      {% include index/description.html %}
    </div>
  </div>
</div>
